<%- include('../partials/header') %>

<section class="mainSection">
    <h2>Class Four</h2>
    <section class="mt-4">
        <h4>Delete this task?</h4>
        <% let date = taskFour.date %>
        <h5><%= taskFour.task %> - Due on <%= date.toString().substring(0,21) %></h5>
    </section>
    
    <form class="mt-4 text-center" action="/four/<%= taskFour._id %>?_method=DELETE" method="POST">
        <input class="btn btn-info" type="button" onclick="history.go(-1);" value="Back">    
        <input class="btn btn-success" type="submit" value="Submit">
    </form>
</section>

<%- include('../partials/footer') %>    