<%- include('partials/header') %>

<section id="courseList" class="mainSection container">
    <div class="courseHeading">
        <h2>Due Dates <i class="far fa-calendar-alt"></i></h2>
        <p>Military Time: 00:00 - 23:59</p>
    </div>
    <div class="row">
        <article class="col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>COMM110 - Communications for College</h5>
                <ul>
                    <% if(taskOnes.length > 0) { %>
                        <% taskOnes.forEach((task) => { %>
                            <% let date = task.date %>
                            <li><span class="taskName"><%= task.task %></span> - Due on <%= date.toString().substring(0,21) %> 
                                <a href="/one/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                                <a href="/one/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                            </li>
                        <% }) %>
                    <% } %>
                    <a href="/one"><i class="fas fa-plus"></i></a>
                </ul>
            </div>
        </article>
    
        <article class="col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>COMP1100 - Introduction to C++ Programming</h5>
                <ul>
                    <% if(taskTwos.length > 0) { %>
                        <% taskTwos.forEach((task) => { %>
                            <% let date = task.date %>
                            <li><span class="taskName"><%= task.task %></span> - Due on <%= date.toString().substring(0,21) %> 
                                <a href="/two/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                                <a href="/two/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                            </li>
                        <% }) %>
                    <% } %>
                    <a href="/two"><i class="fas fa-plus"></i></a>
                </ul>
            </div>
        </article>
    
        <article class="col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>COMP1111 - Introduction to Databases</h5>
                <ul>
                    <% if(taskThrees.length > 0) { %>
                        <% taskThrees.forEach((task) => { %>
                            <% let date = task.date %>
                            <li><span class="taskName"><%= task.task %></span> - Due on <%= date.toString().substring(0,21) %> 
                                <a href="/three/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                                <a href="/three/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                            </li>
                        <% }) %>
                    <% } %>
                    <a href="/three"><i class="fas fa-plus"></i></a>
                </ul>
            </div>
        </article>
    
        <article class="col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>COMP205 - Web Development</h5>
                <ul>
                    <% if(taskFours.length > 0) { %>
                        <% taskFours.forEach((task) => { %>
                            <% let date = task.date %>
                            <li><span class="taskName"><%= task.task %></span> - Due on <%= date.toString().substring(0,21) %> 
                                <a href="/four/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                                <a href="/four/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                            </li>
                        <% }) %>
                    <% } %>
                    <a href="/four"><i class="fas fa-plus"></i></a>
                </ul>
            </div>
        </article>
    
        <article class="col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>COMP211 - Program Design</h5>
                <ul>
                    <% if(taskFives.length > 0) { %>
                        <% taskFives.forEach((task) => { %>
                            <% let date = task.date %>
                            <li><span class="taskName"><%= task.task %></span> - Due on <%= date.toString().substring(0,21) %> 
                                <a href="/five/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                                <a href="/five/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                            </li>
                        <% }) %>
                    <% } %>
                    <a href="/five"><i class="fas fa-plus"></i></a>
                </ul>
            </div>
        </article>
    
        <article class="col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>MATH8 - Introductory to Computer Mathematics</h5>
                <ul>
                    <% if(taskSixes.length > 0) { %>
                        <% taskSixes.forEach((task) => { %>
                            <% let date = task.date %>
                            <li><span class="taskName"><%= task.task %></span> - Due on <%= date.toString().substring(0,21) %> 
                                <a href="/six/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                                <a href="/six/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                            </li>
                        <% }) %>
                    <% } %>
                    <a href="/six"><i class="fas fa-plus"></i></a>
                </ul>
            </div>
        </article>
    </div>
    
</section>

<%- include('partials/footer') %>    