<%- include('partials/header') %>


<section id="courseList" class="mainSection container">
    <div class="courseHeading row">
        <section class="col-md-4">
            <h4>Summary</h4>
            <p class="colorYellow">
                Total Tasks:
                <span id="total" class="colorwYellow">
                    <%= taskOnes.length + taskTwos.length + taskThrees.length + taskFours.length + taskFives.length + taskSixes.length %>
                </span>
            </p>
            <p class="border-top pt-2 colGreen font-weight-bold">
                Completed:
                <span id="completed" class="colGreen font-weight-bold">
                    
                </span>
            </p>
        </section>
        <section class="infos col-md-4">
            <h5>Keep track of what you've done</h5>
            <ul class="notice">
                <li class="mt-3 text-info">
                    Tracking of checked items will only be saved on one device
                </li>
                
                <li class="disclaimer">
                    The content of this website is not guaranteed to be accurate. These pieces of information are
                    collectively gathered and uploaded by your fellow classmates. Please refer
                    to them at your discretion.
                </li>
            </ul>
        </section>

    </div>
    <div class="row dates">
        <article class="col-md-6 col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>COMM110 - Communications for College</h5>
                <ul>
                    <% if(taskOnes.length > 0) { %>
                    <% taskOnes.forEach((task) => { %>
                    <% let date = task.date %>
                    <div class="mb-3">
                        <li>
                            <input type="checkbox" class="one" name="<%= task._id %>" id="<%= task._id %>" onclick="save(); addComplete();">
                            <label for="<%= task._id %>">
                                <span class="taskName"><%= task.task %></span> - Due
                                <%= date.toString().substring(0,21) %>
                                    Submit by
                                    <span class="submit">
                                        <%= task.submit %>
                                    </span>
                            </label>
                        </li>
                        <% if(currentUser){ %>
                        <a href="/one/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                        <a href="/one/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                        <% } %>
                    </div>
                    <% }) %>
                    <% } %>
                    <% if(currentUser){ %>
                    <a href="/one"><i class="fas fa-plus"></i></a>
                    <% } %>
                </ul>
            </div>
        </article>

        <article class="col-md-6 col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>COMP1100 - Introduction to C++ Programming</h5>
                <ul>
                    <% if(taskTwos.length > 0) { %>
                    <% taskTwos.forEach((task) => { %>
                    <% let date = task.date %>
                    <div class="mb-3">
                        <li>
                            <input type="checkbox" class="two" name="<%= task._id %>" id="<%= task._id %>" onclick="save(); addComplete();">
                            <label for="<%= task._id %>">
                                <span class="taskName"><%= task.task %></span> - Due
                                <%= date.toString().substring(0,21) %>
                                Submit by
                                    <span class="submit">
                                        <%= task.submit %>
                                    </span>
                            </label>
                        </li>
                        <% if(currentUser){ %>
                        <a href="/two/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                        <a href="/two/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                        <% } %>
                    </div>
                    <% }) %>
                    <% } %>
                    <% if(currentUser){ %>
                    <a href="/two"><i class="fas fa-plus"></i></a>
                    <% } %>
                </ul>
            </div>
        </article>

        <article class="col-md-6 col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>COMP1111 - Introduction to Databases</h5>
                <ul>
                    <% if(taskThrees.length > 0) { %>
                    <% taskThrees.forEach((task) => { %>
                    <% let date = task.date %>
                    <div class="mb-3">
                        <li class="toggle">
                            <input type="checkbox" name="<%= task._id %>" id="<%= task._id %>" onclick="save(); addComplete();">
                            <label for="<%= task._id %>">
                                <span class="taskName"><%= task.task %></span> - Due
                                <%= date.toString().substring(0,21) %>
                                Submit by
                                    <span class="submit">
                                        <%= task.submit %>
                                    </span>
                            </label>
                        </li>
                        <% if(currentUser){ %>
                        <a href="/three/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                        <a href="/three/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                        <% } %>
                    </div>
                    <% }) %>
                    <% } %>
                    <% if(currentUser){ %>
                    <a href="/three"><i class="fas fa-plus"></i></a>
                    <% } %>
                </ul>
            </div>
        </article>

        <article class="col-md-6 col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>COMP205 - Web Development</h5>
                <ul>
                    <% if(taskFours.length > 0) { %>
                    <% taskFours.forEach((task) => { %>
                    <% let date = task.date %>
                    <div class="mb-3">
                        <li class="toggle">
                            <input type="checkbox" name="<%= task._id %>" id="<%= task._id %>" onclick="save(); addComplete();">
                            <label for="<%= task._id %>">
                                <span class="taskName"><%= task.task %></span> - Due
                                <%= date.toString().substring(0,21) %>
                                Submit by
                                    <span class="submit">
                                        <%= task.submit %>
                                    </span>
                            </label>
                        </li>
                        <% if(currentUser){ %>
                        <a href="/four/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                        <a href="/four/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                        <% } %>
                    </div>
                    <% }) %>
                    <% } %>
                    <% if(currentUser){ %>
                    <a href="/four"><i class="fas fa-plus"></i></a>
                    <% } %>
                </ul>
            </div>
        </article>

        <article class="col-md-6 col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>COMP211 - Program Design</h5>
                <span>dsada</span>
                <ul>
                    <% if(taskFives.length > 0) { %>
                    <% taskFives.forEach((task) => { %>
                    <% let date = task.date %>
                    <div class="mb-3">
                        <li class="toggle">
                            <input type="checkbox" name="<%= task._id %>" id="<%= task._id %>" onclick="save(); addComplete();">
                            <label for="<%= task._id %>">
                            <span class="taskName"><%= task.task %></span> - Due
                            <%= date.toString().substring(0,21) %>
                                Submit by
                                <span class="submit">
                                    <%= task.submit %>
                                </span>
                            </label>
                        </li>
                        <% if(currentUser){ %>
                        <a href="/five/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                        <a href="/five/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                        <% } %>
                    </div>
                    <% }) %>
                    <% } %>
                    <% if(currentUser){ %>
                    <a href="/five"><i class="fas fa-plus"></i></a>
                    <% } %>
                </ul>
            </div>
        </article>

        <article class="col-md-6 col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>MATH8 - Introductory to Computer Mathematics</h5>
                <ul>
                    <% if(taskSixes.length > 0) { %>
                    <% taskSixes.forEach((task) => { %>
                    <% let date = task.date %>
                    <div class="mb-3">
                        <li class="toggle">
                            <input type="checkbox" name="<%= task._id %>" id="<%= task._id %>" onclick="save(); addComplete();">
                            <label for="<%= task._id %>">
                            <span class="taskName"><%= task.task %></span> - Due
                            <%= date.toString().substring(0,21) %>
                                Submit by
                                <span class="submit">
                                    <%= task.submit %>
                                </span>
                            </label>
                        </li>
                        <% if(currentUser){ %>
                        <a href="/six/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                        <a href="/six/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                        <% } %>
                    </div>
                    <% }) %>
                    <% } %>
                    <% if(currentUser){ %>
                    <a href="/six"><i class="fas fa-plus"></i></a>
                    <% } %>
                </ul>
            </div>
        </article>
    </div>

</section>

<%- include('partials/footer') %>