<%- include('partials/header') %>


<section id="courseList" class="mainSection container">
    <div class="courseHeading row">
        <section class="col-md-4">
            <h2>Due Dates <i class="far fa-calendar-alt"></i></h2>
            <p>Military Time: 00:00 - 23:59</p>
        </section>
        <sextion class="col-md-8">
            <h4>Summary</h4>
            <p>
                Total Tasks:
                <span>
                    <%= taskOnes.length + taskTwos.length + taskThrees.length + taskFours.length + taskFives.length + taskSixes.length %>
                </span>
            </p>
            <p class="border-top border-bottom pt-2 pb-2">
                Due Today:
                <span class="colorYellow">
                    Under Construction
                </span>
            </p>
            <p>
                Past Dues:
                <span class="colorRed">
                    Under Construction
                </span>
            </p>
        </sextion>
        
    </div>
    <div class="row">
        <article class="col-md-6 col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>COMM110 - Communications for College</h5>
                <ul>
                    <% if(taskOnes.length > 0) { %>
                        <% taskOnes.forEach((task) => { %>
                            <% let date = task.date %>
                            <div class="mb-3">
                                <li class="lists"><span class="taskName"><%= task.task %></span> - Due <%= date.toString().substring(0,21) %> 
                                    <div class="">
                                        Submit by
                                        <span class="submit">
                                            <%= task.submit %>
                                        </span>
                                    </div>
                                </li>
                                <a href="/one/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                                <a href="/one/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        <% }) %>
                    <% } %>
                    <a href="/one"><i class="fas fa-plus"></i></a>
                </ul>
            </div>
        </article>
    
        <article class="col-md-6 col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>COMP1100 - Introduction to C++ Programming</h5>
                <ul>
                    <% if(taskTwos.length > 0) { %>
                        <% taskTwos.forEach((task) => { %>
                            <% let date = task.date %>
                            <div class="mb-3">
                                <li onclick="this.classList.toggle('done');"><span class="taskName"><%= task.task %></span> - Due <%= date.toString().substring(0,21) %> 
                                    <div>
                                        Submit by
                                        <span class="submit">
                                            <%= task.submit %>
                                        </span>
                                    </div>
                                </li>
                                <a href="/two/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                                <a href="/two/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        <% }) %>
                    <% } %>
                    <a href="/two"><i class="fas fa-plus"></i></a>
                </ul>
            </div>
        </article>
    
        <article class="col-md-6 col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>COMP1111 - Introduction to Databases</h5>
                <ul>
                    <% if(taskThrees.length > 0) { %>
                        <% taskThrees.forEach((task) => { %>
                            <% let date = task.date %>
                            <div class="mb-3">
                                <li onclick="this.classList.toggle('done');"><span><%= task.task %></span> - Due <%= date.toString().substring(0,21) %> 
                                    <div>
                                        Submit by
                                        <span class="submit">
                                            <%= task.submit %>
                                        </span>
                                    </div>
                                </li>
                                <a href="/three/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                                <a href="/three/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        <% }) %>
                    <% } %>
                    <a href="/three"><i class="fas fa-plus"></i></a>
                </ul>
            </div>
        </article>
    
        <article class="col-md-6 col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>COMP205 - Web Development</h5>
                <ul>
                    <% if(taskFours.length > 0) { %>
                        <% taskFours.forEach((task) => { %>
                            <% let date = task.date %>
                            <div class="mb-3">
                                <li onclick="this.classList.toggle('done');"><span class="taskName"><%= task.task %></span> - Due <%= date.toString().substring(0,21) %> 
                                    <div>
                                        Submit by
                                        <span class="submit">
                                            <%= task.submit %>
                                        </span>                                        
                                    </div>
                                </li>
                                <a href="/four/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                                <a href="/four/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        <% }) %>
                    <% } %>
                    <a href="/four"><i class="fas fa-plus"></i></a>
                </ul>
            </div>
        </article>
    
        <article class="col-md-6 col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>COMP211 - Program Design</h5>
                <ul>
                    <% if(taskFives.length > 0) { %>
                        <% taskFives.forEach((task) => { %>
                            <% let date = task.date %>
                            <div class="mb-3">
                                <li onclick="this.classList.toggle('done');"><span class="taskName"><%= task.task %></span> - Due <%= date.toString().substring(0,21) %> 
                                    <div>
                                        Submit by
                                        <span class="submit">
                                            <%= task.submit %>
                                        </span>                                        
                                    </div>
                                </li>
                                <a href="/five/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                                <a href="/five/<%= task.id %>/delete"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        <% }) %>
                    <% } %>
                    <a href="/five"><i class="fas fa-plus"></i></a>
                </ul>
            </div>
        </article>
    
        <article class="col-md-6 col-lg-4">
            <div class="col-lg-12 articleBg">
                <h5>MATH8 - Introductory to Computer Mathematics</h5>
                <ul>
                    <% if(taskSixes.length > 0) { %>
                        <% taskSixes.forEach((task) => { %>
                            <% let date = task.date %>
                            <div class="mb-3">
                                <li onclick="this.classList.toggle('done');"><span class="taskName"><%= task.task %></span> - Due <%= date.toString().substring(0,21) %> 
                                    <div>
                                        Submit by
                                        <span class="submit">
                                            <%= task.submit %>
                                        </span>
                                    </div>
                                </li>
                                <a href="/six/<%= task.id %>/edit"><i class="fas fa-edit"></i></a>
                                <a href="/six/<%= task.id %>/delete"><i class="fas  fa-trash-alt"></i></a>
                            </div>
                        <% }) %>
                    <% } %>
                    <a href="/six"><i class="fas fa-plus"></i></a>
                </ul>
            </div>
        </article>
    </div>
    
</section>

<%- include('partials/footer') %>    